.markdown {
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0.05em;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin-bottom: 1.5rem;
}

.markdown h2 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 2.25rem;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}

.markdown h3 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 2rem;
  margin-top: 2.5rem;
}

.markdown h4 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.75rem;
}

.markdown p {
  letter-spacing: 0.025em;
}

.markdown a {
  :hover {
    text-decoration: underline;
  }
}

.markdown a:hover {
  color: var(--color-light-teal);
}

.markdown ul {
  li {
    list-style: disc;
    margin-left: 2rem;
  }
}

.markdown ol {
  li {
    list-style: decimal;
    margin-left: 2rem;
  }
}

.markdown pre {
  color: black;
  background-color: var(--color-light-teal);
  border-radius: 0.25rem;
  margin: 2rem 0;
  overflow: scroll;
  padding: 1rem;
}

.markdown pre code {
  background-image: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

.markdown code {
  color: black;
  background-color: var(--color-light-teal);
}

.markdown table {
  width: 100%;
}

.markdown table th {
  background: var(--color-light-teal);
}

.markdown table th,
.markdown table td {
  --tw-border-opacity: 1;
  border-color: rgba(17, 24, 39, var(--tw-border-opacity));
  border-width: 1px;
  text-align: center;
}

.markdown hr {
  border: 2px solid var(--light-teal);
  margin-top: 3rem;
}
