.markdown {
  @apply text-lg leading-relaxed tracking-wider;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-6;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4;
}

.markdown h4 {
  @apply text-xl mt-6 mb-2;
}

.markdown p {
  @apply tracking-wider;
}

.markdown a {
  @apply underline;
}

.markdown a:hover {
  color: rgba(59, 130, 246);
}

.markdown ul {
  margin: 0;

  li {
    list-style: disc;
    margin-left: 2rem;
  }
}

.markdown pre {
  @apply rounded overflow-scroll p-4 my-8;
  background-color: #c9eaf5;
}

.markdown pre code {
  @apply bg-none text-xs sm:text-base;
}

.markdown code {
  background-color: #c9eaf5;
}

.markdown table {
  @apply w-full;
}

.markdown table th {
  background: #c9eaf5;
}

.markdown table th,
.markdown table td {
  @apply border border-gray-900 text-center;
}
